body{
    margin: 0;}

#box1{
    width:250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: aqua;
    animation-name: slideRight;
    animation-duration: 3s;
    trans
}
@keyframes slideLeft{
    from{transform: tanslateX(200%)}
}
@keyframes slideRight{
    to{transform: tanslateX(200%)}
}
@keyframes rotate{
    100%{transform: rotateX('360deg');}
}