body{
    background-image: url(pexels-sofiabathory-2299499.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}