.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: rgb(14, 13, 13);
    color:rgb(236, 231, 231);
    font-size: 30px bold;
    padding:7px 15px;
    border-color: rgb(255, 34, 0);
    border-radius: 5px;
    cursor:pointer;/*change pointer to progress and see*/
}
.dropdown a{
    display:block;
    color:rgb(255, 252, 252);
    text-decoration: none;
    padding: 7px 15px;
}
.dropdown .content{
    display: none;
    position:absolute;
    background-color: rgb(42, 31, 31);
    min-width: 100px;
    box-shadow: 2px 2px 5px red;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(104, 59, 59);
}
.dropdown a:hover{
    background-color: rgb(239, 128, 72);
}